%hamburger-line {
    background-color: $button-bg-color;
    border-radius: 3px;
    position: absolute;
    display: inline-flex;
    height: 3px;
    width: 100%;
    @extend %transition;
}
.hamburger__line {
    @extend %hamburger-line;
    top: calc( 50% - 1.5px );
    left: 0;
}
.hamburger {
    display: none;
    position: relative;
    width: 31px;
    height: 23px; 
    cursor: pointer;
    @extend %transition; 
    @include media-tablet {
        display: block;
    }
    &::after {
        content: '';
        @extend %hamburger-line;
        left: 0;
        bottom: 0;
    }
    &::before {
        content: '';
        @extend %hamburger-line;
        left: 0;
        top: 0;
    }
    &.toggler-open {
        &::before  {
            transform: translateY(10px) rotate(50deg) ;
        }
        &::after {
            transform: translateY(-10px) rotate(130deg) ;
        }
        & .hamburger__line {
            opacity: 0;
        }
    }
}
